@import url('https://fonts.googleapis.com/css2?family=Atma:wght@600&family=Patua+One&family=Quicksand&display=swap');


body{
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #DDFFFF;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

.nav-bar{
  font-family: 'Patua One', cursive;
  height: 8vh;
  color: white;
  width: 100vw;
  font-size: 3vh;
  background-color: #2B4570;
  border-bottom: #1c2e4a 2px solid;
  line-height: 8vh;
}

.nav-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#name{
  font-family: 'Atma', cursive;
  font-size: 5vh;
  padding: 0px 10px;
}

a{
  text-decoration: none;
  color: black;
}

li a:hover{
  background-color: #63A46C;
  border-bottom: #4b8153 2px solid;
}

#nav{
  border-left: #9593D9 2px solid;
  color: white;
  float: right;
  padding: 0px 20px;
}

.panel{
    height: 86vh;
    width: 90vw;
    margin: 3vh 5vw 3vh 5vw;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    border-radius: 50px;
    background-color: white;
}

.inner-panel{
  display: flex;
}

.words{
  margin: 10px;
  padding: 1vh 2vw 5vh 2vw;
  width: 40vw;
  font-size: x-large;
  text-align: left;
  flex: 1;
}

h1{
  margin-top: 0;
}

.question-side{
  width: 45vw;
  height: 86vh;
  border-left: black 1px solid;
}

.question-container{
    margin: 10px;
    padding: 5vh 2vw;
    font-size: x-large;
    text-align: center;
    flex: 1;
}

.result{
    margin: 10px;
    padding: 5px;
    height: 10vh;
    text-align: center;
    font-size: 50px;
}

.option-container{
    justify-content: space-around;
    margin: 10px;
    height: 20vh;
}

button{
  font-family: 'Quicksand', sans-serif;
  border: 0;
}

.option{
    padding: 8px;
    width: 47%;
    height: 49%;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 25px;
    margin: 1%;
}

.option:hover{
    background-color: lightgoldenrodyellow;
}

#check{
    margin: 3vh;
    background-color: #50DBB4;
    font-size: larger;
    padding: 1vh 2vw;
    float: right;
    border-radius: 25px;
}

#next{
  color: #2B4570;
  padding: .25vh 1vw;
  font-size: 10vh;
  position: absolute;
  bottom: 5vh;
  right: 5vw;
}

.pawprints{
  position: fixed;
  display: flex;
  transform: rotate(90deg) translate(-50%, -50%);
}

#paw1{
  font-size: 15vh;
  left: 5vw;
  bottom: 15vh;
}

#paw2{
  font-size: 15vh;
  left: 20vw;
  bottom: 45vh;
}

#paw3{
  font-size: 15vh;
  left: 35vw;
  bottom: 15vh;
}

#paw4{
  font-size: 15vh;
  left: 50vw;
  bottom: 45vh;
}

#paw5{
  font-size: 15vh;
  left: 65vw;
  bottom: 15vh;
}

.pawdesigns{
  position: absolute;
  color: white;
  font-size: 5vh !important;
  transform: rotate(-90deg);
}

/*#design1{
  font-size: 5vh;
  left: 3.5vw;
  bottom: 18.25vh;
}*/

.pawprints::before {
  content: attr(data-text);
  position:absolute;

  transform: rotate(-90deg) translate(0%,-25%);
  top:-7vw;

  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;
  font-size: 2vw;
  font-family: 'Quicksand', sans-serif;

  display:none;
}

.pawprints:hover::before {
  display:block;
}
